{{!
  Copyright IBM Corp. 2015, 2025
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Dispatch new " this.model.name}}

<Breadcrumb @label="Dispatch" @route="jobs.job.dispatch" />

<JobSubnav @job={{this.model}} />

<section class="section">
  <JobDispatch @job={{this.model}} />
</section>