{{!
  Copyright IBM Corp. 2015, 2025
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Create Policy"}}

<Breadcrumb @label="New" @route="administration.policies.new" />

<section class="section">
  <Hds::PageHeader as |PH|>
    <PH.Title>Create Policy</PH.Title>
  </Hds::PageHeader>
  <PolicyEditor
    @policy={{this.model}}
  />
</section>
